h1{
    padding-bottom: 10px;
}

.content{
    text-align: center;
}

.disease{
    color: #EC4C4C;
}

.mid{
    color:  rgb(6, 148, 6);
}

.container{
    border: 2px solid white;
    margin-bottom: 100px;
}

h5{
    text-transform: uppercase;
    color:  rgb(6, 148, 6);
}

