{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">

    <h1>Welcome {{session['name']}}!</h1>
    <h2>Enter Your Initial Symptom here</h2>
    <p>Based on your initial symptom, we will use ML to show related symptoms.</p>

    {# get_flashed_messages() is auto sent to the template with the flash() call #}
      {% for mess in get_flashed_messages()  %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{mess}}
        </div>
      {% endfor %}

    <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.symptom1.label }} {{ form.symptom1}} <br>
      {{ form.num_days.label}} {{form.num_days}}
      {{ form.submit() }}
  </form>
</div>
{% endblock  %}