{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <h2>You entered {{session['symptom1']}}</h2><br>
    <h4><em>Based on your initial symptom, we are showing relevant symptoms.</em></h4>
    <p>Please select 'yes' if facing the symptom, else select no.</p>
    <div class="form_with_label">
      <div class="form-labels">
        {% for symptom in symptoms %}
          <div class="form-labels-ind"><strong>{{symptom}}</strong><br><br></div>
        {% endfor %}
      </div>
      
      <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form.symptoms%}
          {{field()}}
        {% endfor %}
        {{form.submit}}
      </form>
    </div>
    
</div>
{% endblock  %}

